

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="account" asp-action="logout" asp-route-returnUrl="@Url.Action("index", "home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="login">Авторизация</a>
        </li>
    }
</ul>
