@model IEnumerable<WebApplication7.Models.Order>
@{
    ViewBag.Title = "Личный кабинет";
}
<div class="text-center">
    <h1 class="display-4">Личный кабинет</h1>
</div>
<a asp-action="create">Добавить новый заказ</a>
<table class="table">
    <tr><td>№</td><td>ФИО</td><td>Адрес</td><td>Телефон</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.OrderId</td><td>@item.Login</td><td>@item.Address</td><td>@item.ContactPhone</td></tr>
    }
</table>

