@model WebApplication7.ViewModels.OrderModel

<h2>Заказ нового товара</h2>

<form asp-action="NewDelivery" asp-controller="Account">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Login">Введите ФИО:</label><br />
            <input type="text" asp-for="Login" />
            
        </div>
        <div>
            <label asp-for="Address">Введите адрес:</label><br />
            <input asp-for="Address" />
            
        </div>
        <div>
            <label asp-for="ContactPhone">Введите контактный номер телефона:</label><br />
            <input asp-for="ContactPhone" />
            
        </div>
        <div>
            <input type="submit" value="Заказать товар" />
        </div>
    </div>
</form>