@model IEnumerable<WebApplication7.Models.Order>
    <a asp-controller="Account" asp-action="NewDelivery">Добавить пользователя</a>
<table class="table">
    <tr><td>Id</td><td>ФИО</td><td>Адрес</td><td>Номер</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.OrderId</td><td>@item.Login</td><td>@item.Address</td><td>@item.ContactPhone</td></tr>
    }
</table>