@{
    ViewData["Title"] = "О проекте";
}

<h2>Информация о проекте</h2>
<p>
    Курсовой проект по дисциплине "Теория разработки программного обеспечения".<br>
    Руководитель проекта: <b>Захарченков Константин Васильевич</b><br><br>

    DB-архитектор, дизайнер: <b>Скоробогатый Роман</b><br>
    Front-end разработчик: <b>Дуйнов Кирилл</b><br>
    Back-end разработчик: <b>Подлужный Владислав</b><br>

    <p>Версия приложения: <b>beta 1.2.1</b></p>
<br>

<h4>Обновления веб-приложения</h4>
<p>
    <b>ver. 1.2.1 - Обновление от 20.02:</b><br>
    Добавлены новости.<br>
    Блок новостей выведен на главную страницу.<br>
    Создание новостей возможно только модератору и администратору
</p>

<p><b>ver. 1.2.0 - Обновление от 20.02:</b><br>
    Добавлен прелоадер.<br>
    Появились роли. Теперь каждый пользователь может иметь свою роль в приложении.<br>
    Редактировать, создавать, удалять пользователей может только администратор.<br>
    Пароли теперь хешируются.
    </p>
<br />
<p>
    <b>ver. 1.3.0 - Обновление от 18.03:</b><br>
    Добавлен новый контроллер на роли.<br>
    Переписано подключение к базе данных.
    
</p>
<p>
    <b>ver. 1.5.0 - Обновление от 19.02:</b><br>
    Добавлена валидация на ввод данных.<br>
    Добавлена новая роль - модератор.

</p>