@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Доставка.бай</h1>
    <p>Актуальные доставки можно посмотреть на этой <a href="/account/orders">странице</a>.</p>
</div>
