@model IEnumerable<WebApplication8.Models.User>

@{
    ViewData["Title"] = "Личный кабинет";
}

<center>
    <h3>Личный кабинет</h3>
    <p>Страница в разработке</p>
    <p>Электронная почта: <b>@User.Identity.Name</b></p>
</center>

<a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="index">Пользователи</a>
<a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="create">Создать пользователя</a>
<a class="nav-link text-dark" asp-area="" asp-controller="roles" asp-action="index">Права</a>
<a class="nav-link text-dark" asp-area="" asp-controller="roles" asp-action="userlist">Список пользователей</a>
<a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="orders">Список заказов</a>


